#formInicio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.imagenLogo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;

   /*centrar horizontal*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #6D53A6;
}

.texto{
    color: white;
    font-size: 12px;
}

.btn{
    background-color: #3298A6;
}

#textoRegistro{
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#correoEntrada{
    /*aumentar tamaño input*/
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-size: 12px;
}

.hipervinculo{
    color: white;
    font-size: 8px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #6C32A6;
    color: white;
    text-align: center;
}

.textoFooter{
    display: inline;
    color: white;
    font-size: 8px;
    
    /*texto a la derecha estatico*/
    position: absolute;
    right: 0;
    margin-right: 10px;

    /*centrar vertical*/
    top: 50%;
    transform: translateY(-50%);

}