

body{
    background-color: #F9F6FF;
}

/*change color navbar*/
.navbar{
    background-color: #6D53A6;
}







.nav-link{
    color: white;
}

.fa-solid{
    color: white;
}


.hipervinculo{
    color: white;
    font-size: 8px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #6D53A6;
    color: white;
    text-align: center;
}

.textoFooter{
    display: inline;
    color: white;
    font-size: 8px;
    
    /*texto a la derecha estatico*/
    position: absolute;
    right: 0;
    margin-right: 10px;

    /*centrar vertical*/
    top: 50%;
    transform: translateY(-50%);

}

.cerrar{
    background-color: #ffffff;
}

hr{
    margin: 0;
}

#navbarIMG{
    width: 100px;
}

#categoria{
    width: 160px;
}

#repartidor{
    width: 200px;
}

#pedido{
    width: 160px;
}

#producto{
    width: 160px;
}

.card{
    
    margin: 30px;
    width: 200px;
}

.botonAprobar{
    background-color: #ACBF65;
    color: white;
  
    display: block;
}

.card{
    background-color: #3298A6;
}

p,h4, h5{
    color: white;
    text-align: center;
}

#linkRepartidor{
    color: #3298A6;

    /*poner texto abajo derecha*/
    position: absolute;
    right: 0;
    margin-right: 10px;
    bottom: 0;
    margin-bottom: 50px;
    font-size: large;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}